body {
    background: linear-gradient(90deg, rgba(0, 36, 19, 1) 0%, rgba(16, 107, 113, 1) 20%, rgb(84, 225, 211) 69%, rgba(0, 212, 255, 1) 100%);
}

img {
    margin-top: 30px;
    width: 150px;
    border-radius: 30%;
}

button{
    margin: 5px 5px 0 0;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}

.container{
    text-align: center;

}